:root{
    --background-main: #202124;
    --background-footer: #212327;
    --txt-footer: #bdc1c6;
    --txt-main: white;
    --btn-color: #303134;

}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    
    font-family: Arial, Helvetica, sans-serif;
    background-color:var(--background-main);
    
}

ul > li {
    display: inline-block;
    padding: 0px .5em;
}

header{
    width: 100%;
    height: auto;
    font-size: .8rem;
    color: var(--txt-main);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
}
.icon{
    position: relative;
    top: 5px;
    margin: .2em .4em;}

.material-icons{
    color: var(--txt-footer);

}

.photo{
    border-radius: 50%;
    align-self: baseline;
    position: relative;
    top: 1em;
    right: 1em;

}
li{
    list-style-type: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 90vh;
    width: 100vw;
    line-height: 2em;
}



.search-content{
    position: absolute;
    display: inline-block;
    width: 75vw;
    height: 6vh;
    max-width: 800px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    
}

.search-bar{
    background-color: var(--background-main);
    border: 1px solid var(--txt-footer);
    border-radius: 24px;
    width: 75vw;
    height: 6vh; 
    
    max-width: 800px;
    z-index: -1;
}
.mic{
    position: relative;
    top: 0;
    display: inline-block;
    z-index: 1;
}


.botones{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    
}

.btn{
    font-size: .9rem;
    background-color: var(--btn-color);
    color: var(--txt-main);
    padding: .6em 1.1em;
    border: none;
    border-radius: 8px;
    margin: .5em;

}
.extra-txt{
    font-size: .8rem;
    margin-top: 1.8em;
    color:var(--txt-footer)
}

