*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    
    font-family: Arial, Helvetica, sans-serif;
    background-color: #202124;
    
}

ul > li {
    display: inline-block;
    padding: 0px .5em;
}

header{
    width: 100%;
    height: auto;
    font-size: .8rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
}
.icon{
    margin: .2em .4em;}

.material-icons{
    position: relative;
    top: 5px;
    color: #bdc1c6;

}

.photo{
    border-radius: 50%;
    align-self: baseline;
    position: relative;
    top: 1em;
    right: 1em;

}

li{
    list-style-type: none;
}