:root{
    --background-main: #202124;
    --background-footer: #171717;
    --txt-footer-2: #999da2;
    --txt-footer: #5f6368;
    --txt-main: white;
    --btn-color: #303134;

}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    
    font-family: Arial, Helvetica, sans-serif;
    background-color:var(--background-main);
    
}

ul > li {
    display: inline-block;
    padding: 0px .5em;
}

.txt-nav:hover{
    text-decoration: underline;
}


header{
    width: 100%;
    height: auto;
    font-size: .8rem;
    color: var(--txt-main);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
}
.icon{
    position: relative;
    top: 6px;
    margin: .2em .4em;
border-radius: 50%;}

.icon:hover{
    box-shadow: 0px 0px 1px 5px #5f636883;
    background-color: #5f636883;
}

.material-icons{
    color: var(--txt-footer-2);

}

.photo{
    border-radius: 50%;
    align-self: baseline;
    position: relative;
    top: 1em;
    right: 1em;

}
li{
    list-style-type: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 87vh;
    width: 100vw;
    line-height: 2em;
}



.search-content{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: row;

    background-color: var(--background-main);
    border: 1px solid var(--txt-footer);
    border-radius: 24px;
    width: 75vw;
    height: 5.5vh;
    max-width: 600px;
    
    margin-top: 1em;
    margin-bottom: 1em;
}

.search-bar{
    background-color: var(--background-main); 
    border: none ;
    outline: none;
    width: 80%;
    height: 5.3vh; 
    caret-color: white;
    color:white;
    font-size: 1rem;
}

.search-content:hover> .search-bar, .search-content:hover{
    background-color: var(--btn-color);
}

.search-content:hover{
    box-shadow: 0 1px 6px 0 #171717;
    border: none;
}


.botones{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    
}

.btn{
    font-size: .9rem;
    background-color: var(--btn-color);
    color: var(--txt-main);
    padding: .7em 1.2em;
    border: none;
    border-radius: 5px;
    margin: .4em;
    -webkit-appearance: none;

}

.btn:hover{
    border: 1px solid var(--txt-footer); 
}
.extra-txt{
    font-size: .8rem;
    margin-top: 1.3em;
    color:var(--txt-footer-2)
}

.footer{
    background-color: var(--background-footer);
    color: var(--txt-footer-2);
    padding: 1rem;
    border: .5px solid var(--background-main);
    font-size: 0.9rem;
    position: fixed;
     bottom: 0;
     width: 100%;
}
.text-one{
    margin-left: 1.5em;
}

.footer-two {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: .2rem;
}

.footer-two ul li:hover{
    text-decoration: underline;
}
.bar-right{
    float: right;
    margin-right: 4rem;
}
.bar-left{
    float: left;
    margin-left: 4rem;
    
}

@media(min-width: 720px){
    .footer-two{ 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}





